<div class="col-sm-8 offset-sm-2">

  <table class="table table-sm" id="tbl_urlS">
    <thead>
      <colgroup>
      <col style="width: 50%"/>
      <col style="width: 25%"/>
      <col style="width: 15%"/>
      <col style="width: 5%"/>
      <col style="width: 5%"/>
      </colgroup>
    </thead>
    <% @link_logs.each do |l|  %>
    <tr id="<%=l.id%>" >
      <td style="font-size: 13px;" ><a href="<%= l.link_original%>"><%= l.link_original%></a></td>
      <td><a href="<%= l.link_short%>"><%= l.link_short%></a></td>
      <td><%= l.created_at.to_datetime.strftime("%d-%m-%Y")%></td>
      <td><button type="button" name="button" class="btn btn-sm btn-danger" onclick="deleteRow(this)" data-id-ls="<%= l.id%>"> - </button></td>
      <td><button type="button" name="button" class="btn btn-sm btn-warning" onclick="updateLink(this)" data-id-ls="<%= l.id%>"> ? </button></td>
    </tr>
    <%end%>
  </table>
</div>
