<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation" class="alert alert-danger">
      <h4><%= pluralize(@user.errors.count, "error") %> El usuario no se ha podido guardar:</h4>

      <ul>
      <% @user.errors.messages.each do |msg| %>
        <li><%= msg[1].to_sentence %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="col-sm-6">

  <table class="table table-form ">
    <tbody>

      <tr class="table_row">
        <td>Nombre:</td>
        <td class="single-column"><%= f.text_field :name, :required => true, :placeholder => "Nombre ..." %></td>
      </tr>
      <tr class="table_row">
        <td>Email:</td>
        <td class="single-column"><%= f.email_field :email, :required => true, :placeholder => "Email ..." %></td>
      </tr>

      <tr class="table_row">
        <td>Contraseña:</td>
        <td class="single-column"><%= f.password_field :password, autocomplete: "off", :required => true %></td>
      </tr>
      <tr class="table_row">
        <td>Confirmación:</td>
        <td class="single-column"><%= f.password_field :password_confirmation, autocomplete: "off", :required => true %></td>
      </tr>
    </tbody>
  </table>

  <div class="actions">
    <%= f.submit 'Guardar',id: 'save_new_user', class: 'btn btn-success update'%>
    <%= link_to 'Cancelar', root_path, class: 'btn btn-success' %>
  </div>
</div>

<%end%>
