<link href="/stylesheets/bootstrap.min.css" media="screen" rel="stylesheet">

<style media="screen">

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: 150px auto 0 auto;
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

</style>
<div class="text-center">

  <%= form_for(resource, as: resource_name, url: session_path(resource_name), :html => {:class => 'form-signin'}) do |f| %>
    <img class="mb-4" src="/images/icons-login.png" alt="" width="72" height="72">
    <h1 class="h3 mb-3 font-weight-normal">Por favor de iniciar seccion</h1>
    <%= f.label :email, class: 'sr-only' %>
    <%= f.email_field :email, autofocus: true, class: 'form-control', placeholder: 'Correo electronico' %>
    <%= f.label :password, class: 'sr-only' %>
    <%= f.password_field :password, autocomplete: "off", class: 'form-control', placeholder: 'Contraseña' %>
    <% if devise_mapping.rememberable? -%>
      <div class="checkbox mb-3">
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me %>
      </div>
      <% end -%>
    <%= f.submit "Log in", class: 'btn btn-lg btn-primary btn-block' %>
  <% end %>

  <%= render "devise/shared/links" %>
</div>
