<!DOCTYPE html>
<html>
<head>
  <title>UrlShortenerManager</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag  "bootstrap.min.css", media: "" %>
</head>
<body>

  <% if user_signed_in? %>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <%= link_to "Dashboard", root_path, class: 'nav-link' %>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <% if user_signed_in? %>
            <li class="nav-item">
              <label for="" class="nav-link">

              </label>
            </li>
            <li class="nav-item">
              <%= link_to (!current_user.name.blank? ? current_user.name : current_user.email), edit_user_path(:id => current_user.id), class: 'fa fa-sign-out nav-link' %>
            </li>
            <li class="nav-item">
              <%= link_to 'Salir', destroy_user_session_path, method: :delete, class: 'fa fa-sign-out nav-link' %>
            </li>
            <% else %>
              User Name
          <% end %>
        </ul>
      </div>
    </nav>

    <div class="col-sm-6 offset-sm-3 input-group" style="margin-top: 25px;margin-bottom: 25px;">
      <input type="url" placeholder="http://enlace-a-recortar.com" pattern="https://.*" required class="form-control">
      <div class="input-group-append">
        <button class="btn btn-warning" type="button" id="btn_gnl">Acortar enlace</button>
      </div>
    </div>


    <%if notice %>
      <p class="notice alert alert-primary" role="alert"><%= notice %></p>
    <%end%>

    <%if alert %>
      <p class="alert alert alert-primary"><%= alert %></p>
    <%end%>


    <div id="modal_generic" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true" data-backdrop="static" data-keyboard="false">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header" id="header_MG">
          </div>
          <div class="modal-body" id="body_MG">
          </div>
          <div class="modal-footer" id="footer_MG">
          </div>
        </div>
      </div>
    </div>

  <%end%>
  <div class="col-sm-12 col-md-12 col-xl-12">
    <%= yield %>
  </div>
<%= javascript_include_tag "bootstrap.min.js" %>
</body>
</html>
